/* global styles  */

*{
    border: 3px solid red;
    box-sizing: border-box;
}

/* element styles */

body {
    margin: 0;
    min-height: 100vh;
    /* background-color: rgb(41, 41, 101); */
    font-family: cursive;
    font-size: 16px;
}

header {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3.1rem;
    color: darkgrey;
    font-family: rubik moonrocks;
}

h3 {
    font-size: 1.3rem;
    margin-left: 70%;
    /* margin-bottom: -95%; */
}

#slogan {
    font-size: 1.8rem;
    font-family: space grotesk;
    color: rgb(255, 255, 52);
}

/* layout */

.game-title {
    text-align: center;
}

.container {
    /* border: 3px solid purple; */
    width: 95vw;
    margin: 0 auto;
}

.button-wrapper {
    display: grid;
    grid-template-columns: [first] 45px [line2] 45px [line3] 45px [line4] 45px [line5];   
    flex-flow: row wrap;
    padding: 1.0rem;
    /* justify-content: space-evenly; */
    /* gap: 0.3rem; */
    /* align-content: ; */
}

#rocket-message {

}

#solution-space {

}

.solution-wrapper {
    /* border: 3px solid purple; */
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: auto;
    column-gap: 0.25rem;
    row-gap: 0.5rem;
    text-align: center;
    padding: 1rem;
    
}

.game-state-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 5;
}

#message-content {
    display: flex;
    flex-direction: column;
    justify-content: right;

}


/* button styling*/

button {
    font-size: 1.5rem;
    line-height: 1.75rem;
    /* background-color: rgb(231, 27, 0); */
    /* color: rgb(255, 255, 52); */
    padding: 0.7rem;
    border: 2px solid  rgb(247, 1, 227);
    border-style: inset;
    border-radius: 0.125rem;
    /* transition: background-color */
}

/* span { */
    /* margin-bottom: -225%; */
/* } */
/* style */

#rocket-graphic {
    max-height: 50vmin;
    border-radius: 2.0rem;
    margin-left: 70%;
}

.hidden {
    /* visibility: hidden; */
}